
.customMenu {
    overflow-y: auto;
    word-wrap: break-word;
    text-align: center;
    align-items: center;
}
.customMenu > a {
    display: block;
    color:blue;
    font-size: large;
    margin: 10%
}

.customMenu input[type=button]{
    display: block;
    color:blue;
    font-size: large;
    margin: 10%;
    align-self: center;
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
    align-items: center;
    text-align: center;
    align-content: center;
}


