
menu {
    margin: 0;
}

.menu {
    padding: 15px;
    color: white;
    display: inline;
}

.menu a:link {
    text-decoration: none;
    color:white;
    font-size: large;
}
  
.menu a:visited {
    text-decoration: none;
    color: white;
}
  
.menu a:active {
    color: rgb(24, 24, 59);
}

.customMenu {
    width: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
    margin: 0%;
    padding: 0%;
    color: whitesmoke;
    display: inline;
}

.customMenu a:link {
    text-decoration: none;
    color: whitesmoke;
}
  
.customMenu a:visited {
    text-decoration: none;
    color: whitesmoke;
}
  
.customMenu a:active {
    color: rgb(24, 24, 59);
}

.separator {
    font-weight: bold;
    color: whitesmoke;
    display: inline;
}