.card {
    text-align: center;
    display: inline-block;
    height: 150px;
    width: 500px;
    margin: 1px;
    padding: 5px;
    background-color: rgb(190, 185, 255);
    color: rgb(17, 17, 54);
    overflow-y: auto;
    word-wrap: break-word;
    /* max-width: 100%; */
    overflow-x: hidden;
    cursor: pointer;
}

 