

.CouponDetails {
    text-align: center;
}

.number  {
    width: 1.5cm;
    margin-left: 0.5cm;
}

.CouponDetails span {
    font-size: larger;
    font-weight: bold;
}


.CouponDetails input {
    font-size: large;
    padding : 5px;
    margin: 2px;
}

.CouponDetails input:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.CouponDetails  select {
    width: 235px;
    height: 35px;
    font-size: large;
    margin: 5px;
}

.CouponDetails select:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}