.coupons {
    text-align: center;
}

.coupons input {
    margin-right: 15px;
    font-size: x-large;
    width: 5cm;
}

.coupons select {
    font-size: x-large;
}

.coupons b {
    margin-right: 30px;
}

