.createCoupon {
    text-align: center;
    font-size: 15px;
    /* padding-left: 30%; */
}

.createCoupon input {
    font-size: large;
    padding : 5px;
    margin: 2px;
    display: block;
}
  
.createCoupon input:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.createCoupon select {
    font-size: large;
    padding : 5px;
    margin: 2px;
    width: 235px;
}

.createCoupon select:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}