.usersManagement {
    text-align: center;
    font-size: 15px;
}

.usersManagement b {
    margin-right: 17px;
}

.usersManagement input {
    font-size: large;
    padding : 5px;
    margin: 2px;
}
  
.usersManagement input:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.usersManagement table {
    margin: 27px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    width: 70%;
}

.usersManagement th, td {
    border: 1px solid rgb(47, 2, 2);
}

.usersManagement td {
    padding: 7px;
}

.tableHead th {
    border: none;
}

.button {
    border: none;
}

.userCard {
        text-align: center;
        display: inline-block;
        height: 87px;
        width: 200px;
        margin: 1px;
        padding: 2px;
        background-color: whitesmoke;
        color: rgb(31, 31, 70);
        overflow-y: auto;
        word-wrap: break-word;
        /* max-width: 100%; */
        overflow-x: hidden;
}